{{define "content"}}
<div>
    <form method="post">
        <div>
            <h2>Change Password</h2>
        </div>
        {{ if .Page.Error }}
        <div class="error">{{ .Page.Error }}</div>
        {{end}}
        {{ if .Page.Success }}
        <div class="success">Success</div>
        {{end}}
        <div>
            <input type="password" name="op" placeholder="Old Password" required>
        </div>
        <div>
            <input type="password" name="np1" placeholder="New Password" required>
        </div>
        <div>
            <input type="password" name="np2" placeholder="Confirm New Password" required>
        </div>
        <div>
            <input type="submit" value="change">
        </div>
    </form>
</div>
{{end}}
