{{define "content"}}
<div>
    {{if .Page.RequestMade }}
    <form method="post">
        <div>
            <h2>Request Username Change</h2>
        </div>
        <div class="error">Request already Made</div>
    </form>
    {{else}}
    <form method="post">
        <div>
            <h2>Request Username Change</h2>
        </div>
        {{ if .Page.Error }}
        <div class="error">{{ .Page.Error }}</div>
        {{end}}
        {{ if .Page.Success }}
        <div class="success">Success</div>
        {{else}}
        <div>
            <input type="text" name="username" placeholder="{{.Page.Username}}" value="{{.Page.Username}}" required>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div>
            <input type="submit" value="request change">
        </div>
        {{end}}
    </form>
    {{end}}

</div>
{{end}}
