#admin-user
    td
        height: 1.5rem
        vertical-align: middle

        &:nth-of-type(3), &:nth-of-type(4)
            text-align: center
        &>input[type="text"]
            background-color: inherit
            border: none
            width: 100%
            height: 100%
            vertical-align: middle
        &>input[type="button"]
            width: 100%
            height: 100%
            vertical-align: middle

#admin-user-edit
    &>div:first-of-type
        display: flex
        flex-direction: row-reverse
        margin-bottom: 1rem

    &>div:not(:first-of-type)
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: start
        [colspan="2"]
            text-align: center

        #usericon
            width: 64px

#admin-user-groups
    table
        th:last-of-type
            background-color: inherit
        tr:last-of-type
            background-color: white
            td:first-of-type
                padding: 0
        input[type="text"],input[type="button"]
            border: 0
            width: 100%
            margin: 0px
            box-sizing: border-box
            -moz-box-sizing: border-box
            -webkit-box-sizing: border-box
            &::placeholder
                text-align: center

#user-password
    display: flex
    justify-content: center
    background-color: #eeeeee
    &>div

        background-color: #ffffff
        width: 40rem
        min-height: 23rem
        max-height: 30rem
        margin: 3rem auto
        text-align: center
        border: 1px solid #00000033
        border-radius: 4px
        box-shadow: 0px 30px 50px 0px #00000033
        &>form
            display: flex
            flex-flow: column
            justify-content: space-around
            align-items: stretch
            height: 100%
            padding: 0 1rem
            .error
                background-color: red
                line-height: 3rem
                font-size: 2rem
                text-transform: uppercase
            .success
                line-height: 3rem
                font-size: 2rem
                text-transform: uppercase
                background-color: limegreen
            input
                text-align: center
                display: block
                box-sizing: border-box
                width: 100%
                outline: none
                height: 3rem
                font-size: 1.5rem
                border-radius: 4px
                &::placeholder
                    opacity: 1
                &>input:not([type="submit"])
                    width: 100%
                    padding: 0 0 0 10px
                    margin: 0
                    border: 1px solid #c2c0ca
                    font-style: normal
                    font-size: 16px
                    -webkit-appearance: none
                    -moz-appearance: none
                    appearance: none
                    position: relative
                    display: inline-block
                &>input[type="submit"]
                    border: none
                    display: block
                    font-weight: bold
                    cursor: pointer
                    -webkit-transition: all 0.2s ease
                    transition: all 0.2s ease
                    font-size: 18px
                    position: relative
                    display: inline-block
                    cursor: pointer
                    text-align: center
                    margin-bottom: 1rem
