{{define "content"}}
<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th class="rotate45">
                    <div><span>User&nbsp;Count</span></div>
                </th>
                {{range .Page.Permissions }}
                <th class="rotate45">
                    <div><span>{{.Title}}</span></div>
                </th>
                {{end}}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{range .Page.Groups }}
            <tr id="group{{.ID}}">
                <td>{{.ID}}</td>
                <td>{{.Title | ToTitle}}</td>
                <td>{{.UserCount}}</td>
                {{$ID := .ID}}
                {{range .Permissions }}
                <td>
                    <div class="switch">
                        <label>
                            <input type="checkbox" data-group="{{$ID}}" data-permission="{{.ID}}" {{if
                                .Active}}checked{{end}}>
                            <span class="slider"></span>
                        </label>
                    </div>
                    {{else}}
                    {{ if .Active }}
                    <i class="fa fa-check-circle"></i>
                    {{else}}
                    <i class="fa fa-times-circle"></i>
                    {{end}}
                </td>
                {{end}}
                <td>
                    <input type="button" value="delete" data-group="{{.ID}}">
                </td>
            </tr>
            {{end}}
            <tr id="zgroup">
                <td colspan="{{.Page.CreateLength}}">
                    <input type="text" placeholder="Add Group">
                </td>
                <td>
                    <input type="button" value="add">
                </td>
            </tr>
        </tbody>
    </table>
    <template class="group">
        <tr>
            <td></td>
            <td></td>
            <td>0</td>
            {{range .Page.Permissions }}
            <td>
                <div class="switch">
                    <label>
                        <input type="checkbox" data-group="" data-permission="{{.ID}}">
                        <span class="slider"></span>
                    </label>
                </div>
            </td>
            {{end}}
            <td>
                <input type="button" value="delete" data-group="">
            </td>
        </tr>
    </template>
</div>
{{end}}
