{{define "content"}}
<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th class="rotate45">
                    <div><span>User Count</span></div>
                </th>
                {{range .Page.Permissions }}
                <th class="rotate45">
                    <div><span>{{.Title}}</span></div>
                </th>
                {{end}}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{range .Page.Groups }}
            <tr id="group{{.ID}}">
                <td>{{.ID}}</td>
                <td>{{.Name}}</td>
                <td>{{.UserCount}}</td>
                {{$ID := .ID}}
                {{range .Permissions }}
                <td>
                    <input type="checkbox" data-group="{{$ID}}" data-permission="{{.ID}}" {{if .Active}}checked{{end}}>
                </td>
                {{end}}
                <td>
                    <input type="button" value="delete" data-group="{{.ID}}">
                </td>
            </tr>
            {{end}}
            <tr id="zgroup">

                <td colspan="{{.Page.CreateLength}}">
                    <input type="text">
                </td>
                <td>
                    <input type="button" value="add">
                </td>
            </tr>

        </tbody>
    </table>
    <template>
        <tr>
            <td></td>
            <td></td>
            <td>0</td>
            {{range .Page.Permissions }}
            <td>
                <input type="checkbox" data-group="" data-permission="{{.ID}}" {{if .Active}}checked{{end}}>
            </td>
            {{end}}
            <td>
                <input type="button" value="delete" data-group="">
            </td>
        </tr>
    </template>
</div>
<h1>TODO PRETTYFY THIS PAGE</h1>
{{end}}
