{{define "content"}}
<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Disabled</th>
                <th>Admin</th>
                <th>Groups (Count)</th>
                <th>Permissions (Count)</th>
            </tr>
        </thead>
        <tbody>
            {{range .Page.Users }}
            {{$view := true}}
            {{if .IsAdmin}}
            {{if not .User.IsAdmin }}
            {{$view := false}}
            {{end}}
            {{end}}

            {{if $view}}
            <tr href="{{$.Baseurl}}admin/user/edit/{{.ID}}">
                <td>{{.ID}}</td>
                <td>{{.Username}}</td>
                <td>
                    {{ if .Disabled }}
                    <i class="fa fa-check-circle"></i>
                    {{else}}
                    <i class="fa fa-times-circle"></i>
                    {{end}}
                </td>
                <td>
                    {{ if .IsAdmin }}
                    <i class="fa fa-check-circle"></i>
                    {{else}}
                    <i class="fa fa-times-circle"></i>
                    {{end}}
                </td>
                <td>
                    {{ if not .IsAdmin }}
                    {{ .GroupsCount }}
                    {{end}}
                </td>
                <td>
                    {{ if not .IsAdmin }}
                    {{ .PermissionsCount }}
                    {{end}}
                </td>
            </tr>
            {{end}}
            {{end}}
        </tbody>
    </table>
</div>
{{end}}
