{{define "content"}}
<div>
    <table>
        <thead>
            <th>ID</th>
            <th>Username</th>
            <th>Disabled</th>
            <th>Admin</th>
        </thead>
        <tbody>
            {{range .Page.Users }}
            <tr href="{{$.Baseurl}}admin/user/{{.ID}}">
                <td>{{.ID}}</td>
                <td>{{.Username}}</td>
                <td>
                    {{ if .Disabled }}
                    <i class="fa fa-check-circle"></i>
                    {{else}}
                    <i class="fa fa-times-circle"></i>
                    {{end}}
                </td>
                <td>
                    {{ if .IsAdmin }}
                    <i class="fa fa-check-circle"></i>
                    {{else}}
                    <i class="fa fa-times-circle"></i>
                    {{end}}
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{end}}
