{{define "content"}}
<div>
    <input type="button" name="delete" value="delete user">
</div>
<div>
    <table>
        <thead>
            <th colspan="2">Details</th>
        </thead>
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{.Page.User.ID}}</td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{{.Page.User.CreatedAt}}</td>
            </tr>
            <tr>
                <th>Updated At</th>
                <td id="updatedat">{{.Page.User.UpdatedAt}}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td><input type="text" id="username" value="{{.Page.User.Username}}"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" id="password" value=""></td>
            </tr>
            <tr>
                <th>Disabled</th>
                <td>
                    <div class="switch">
                        <label>
                            <input type="checkbox" name="disabled" {{if .Page.User.Disabled}}checked{{end}}>
                            <span class="slider"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Admin</th>
                <td>
                    <div class="switch">
                        <label>
                            <input type="checkbox" name="isadmin" {{if .Page.User.IsAdmin}}checked{{end}}>
                            <span class="slider"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Icon (File)</th>
                <td><img id="usericon" src="{{.Page.User.Icon | URLSAFE}}">

                    <input type="file" name="icon" value="">
                    <input type="button" name="clearicon" value="Clear Icon">
                </td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <th colspan="2">Groups</th>
        </thead>
        <tbody>
            {{range .Page.Groups}}
            <tr>
                <td>{{.Title | ToTitle}}</td>
                <td>
                    <div class="switch">
                        <label>
                            <input type="checkbox" name="groups[]" data-group="{{.ID}}" {{if .Active}}checked{{end}}>
                            <span class="slider"></span>
                        </label>
                    </div>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    <table>
        <thead>
            <th colspan="2">Permissions</th>
        </thead>
        <tbody>
            {{range .Page.Permissions}}
            <tr>
                <td>{{.Title | ToTitle}}</td>
                <td>
                    <div class="switch">
                        <label>
                            <input type="checkbox" name="permissions[]" data-permission="{{.ID}}" {{if
                                .Active}}checked{{end}}>
                            <span class="slider"></span>
                        </label>
                    </div>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>

</div>
{{end}}
